@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,600;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  background-color: var(--Very-Light-Gray);
  font-family: "Poppins", sans-serif;
  line-height: 2;
}

.header {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

.header .title {
  font-weight: 200;
  color: var(--Very-Dark-Blue);
}

.header .subtitle {
  font-weight: 600;
  color: var(--Very-Dark-Blue);
}

.header p {
  font-size: 15px;
  color: var(--Very-Dark-Blue);
}

.cards {
  display: flex;
  align-items: center;
}

.card {
  background-color: #fff;
  text-align: left;
  border-radius: 10px;
  padding: 25px;
  margin: 10px;
  max-width: 350px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.2);
}

.card .card-title {
  color: var(--Very-Dark-Blue);
}

.card p {
  font-size: 12px;
  color: var(--Very-Dark-Blue);
}

.card:nth-child(1) {
  border-top: solid var(--Cyan);
}

.card:nth-child(2) {
  border-top: solid var(--Red);
}

.card:nth-child(3) {
  border-top: solid var(--Orange);
}

.card:nth-child(4) {
  border-top: solid var(--Blue);
}

.card img {
  margin-top: 25px;
  margin-right: 0;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .header {
    padding: 10px;
  }
}
